*{
    box-sizing: border-box;
}

:root{
    --color-1: #22BBDD;
    --color-2: #2C6E7B;
}

.color-1{
    padding: 0.8em;
    font-size: 26px;
    color: white;
    border: 1px solid white;
}

.color-1{
    background: var(--color-1);
}

.color-2{
    background: var(--color-2);
}

.grid{
    display: grid;
    /* grid-template-columns: 30% 30% 40%;
    grid-template-rows: 300px; */
    /* fraction unit - fr */
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */

    /* grid-template-rows: 200px 80px; */

    /* gap */
    /* grid-column-gap: 20px;
    grid-row-gap: 20px; */

    /* grid-gap: 20px; */

    /* repeat */

    /* grid-template-columns: repeat(4, 1fr); */
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 100px 100px 100px 50px;
    grid-template-areas: 
    "head head head"
    "nav nav nav"
    "main main section"
    "footer footer footer"
}
.header{
    grid-area: head;
}
.nav{
    grid-area: nav;
}
.section{
    grid-area: section;
}
.main{
    grid-area: main;
}
.footer{
    grid-area: footer;
}